*{
	margin:0;
	padding:0;
}

body{
	margin:auto;
	font-family: Montserrat;
	font-size:20px;
	color:none;
	line-height:1.6;
  min-height: 75rem;
  padding-top: 4.5rem;
}

/* Styles for the navigation bar */
.navbar {
  background-color: #ffffff; /* Set the background color */
  color: #000000; 
  text-align: center;/* Set the text color */
}

.navbar-toggler {
  border: none; /* Remove the border */
  background-color: transparent; /* Set a transparent background */
  color: #000000; /* Set the text color */
}

.navbar-nav .nav-item {
  margin-right: 10px; /* Add some spacing between the navigation items */
}

.nav-link {
  color: #000000; /* Set the text color for the navigation links */
  text-decoration: none; /* Remove the default underline */
}

.nav-link:hover {
  text-decoration: underline; /* Add underline on hover */
}


/* Styles for the <header> element */
header.masthead {
    background-image: url(img/img.jpeg);
    padding: 100px 0;
    text-align: center;
    background-size: cover;
    height:100vh;
  }
  
  header .container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  header p.masthead-subheading {
    font-size: 24px;
    font-weight: 500;
    color: #ffffff;
    text-align: center;
    padding-top: 170px;
    margin-bottom: 30px;
  }
  
  header a.btn {
    display: inline-block;
    padding: 12px 30px;
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    background-color: #B49981;
    color: #fff;
    border-radius: 10px;
  }
  
  header a.btn:hover {
    background-color: #d8e8f9;
  }
  
  header a.btn.btn-xl {
    font-size: 24px;
    padding: 15px 40px;
  }
  
 /* Style for the section with id "about" */
#about {
  background-color: #f8f9fa;
  padding: 100px 0;
}

/* Style for the section heading */
.section-heading {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 30px;
  text-transform: uppercase;
}

/* Style for the paragraph in the text center */
.text-center p {
  margin-bottom: 30px;
}

.circular-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border: 5px solid #484343;
  padding: 5px;
}

/* Style for the timeline */
.timeline {
  list-style: none;
  padding: 0;
}

/* Style for each timeline item */
.timeline li {
  margin-bottom: 50px;
  position: relative;
}

/* Style for the timeline image */
.timeline .timeline-image {
  border-radius: 50%;
  border: 7px solid #fff;
  display: inline-block;
  overflow: hidden;
  position: relative;
  width: 150px;
  height: 150px;
  text-align: center;
}

/* Style for the timeline panel */
.timeline .timeline-panel {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 0;
  padding: 20px;
  position: relative;
  width: calc(100% - 120px);
}

/* Style for the timeline panel heading */
.timeline .timeline-heading h4 {
  font-size: 18px;
  margin-top: 0;
}

/* Style for the timeline panel subheading */
.timeline .subheading {
  margin-bottom: 10px;
  text-transform: uppercase;
}

/* Style for the timeline panel body */
.timeline .timeline-body p {
  font-size: 16px;
  margin-bottom: 0;
}

.section-1 {
  padding: 50px;
  background-color: #E6EFF5;
}

.section-heading {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.section-subheading {
  font-size: 16px;
  color: #888;
  margin-bottom: 30px;
}

.image-gallery {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.image-container {
  text-align: center;
}

.image-container img {
  width: 200px;
  height: 200px;
  object-fit: cover;
  cursor: pointer;
}

.image-container h3 {
  font-size: 20px;
  margin-top: 10px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10% auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  max-width: 500px;
}

.close {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
  color: #ccc;
  cursor: pointer;
}

.modal-content img {
  width: 300px;
  height: auto;
  object-fit: cover;
  margin-bottom: 20px;
}

.modal-content h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.modal-content p {
  font-size: 16px;
  color: #888;
  text-align: center;
}


.section-2{
  background-color: #F8F9FA;
  background-size: cover;
  padding-bottom: 50px;
  padding: 80px 0;

}

.section-2 p{
  text-align: center;
  font-size: 20px;
}

  .section-heading {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }

  .section-subheading {
    font-size: 18px;
    font-weight: normal;
    margin-top: 10px;
    text-align: center;
    padding-bottom: 50px;
  }
 
  #rows {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .image-container {
    flex-basis: 30%;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .image-container img {
    width: 100%;
    height: auto;
  }
  
  .image-heading {
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
  }
  
  .image-description {
    font-size: 14px;
    margin-top: 5px;
  }
  

 /* CSS styles for section-1 and image gallery */
 .section-3 {
  text-align: center;
  background-size: cover;
  background-color: #E6EFF5;
  padding-bottom: 50px;
  padding: 80px 0;
}

.section-3 .section-heading {
  margin-bottom: 20px;

}

.section-3 .section-subheading {
  margin-bottom: 40px;
  font-size: 20px;
}

.image-gallery {
  display: flex;
  padding-top: 50px;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container img {
  width: 250px;
  height: 250px;
  border: solid;
  border-radius: 10px;
  object-fit: cover;
  cursor: pointer;
}

.image-container h3 {
  margin-top: 20px;
  font-size: 20px;
}

/* CSS styles for the modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 10% auto;
  padding: 20px;
  max-width: 400px;
  background-color: #fff;
}

.modal-content h3 {
  margin-top: 0;
}

.modal-content img {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.modal-content p {
  margin-top: 0;
}

.modal-content .close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.section-4{
  padding: 20px;
  padding-bottom: 80px;
  padding-top: 50px;
  margin:auto;
  background-color: #212529;
    background-image: url(img/map-image.png);
    background-repeat: no-repeat;
    background-position: center;
	color: #ffffff;
	text-align: center;
}

.row {
  display: flex;
  padding-top: 10%;
}

/* Set the column width to 50% */
.column {
  width: 50%;
}

.circular-image {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border: 5px solid #484343;
  padding: 5px;
}

.image{
  width:250px;
  height: 150px;
  overflow: hidden;
  border: 5px solid #484343;
  padding: 5px;
}

form label {
  display:flow-root;
  margin-bottom: 10px;
}

form input[type="text"],
form input[type="email"],
form input[type="tel"]{
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  padding: 20px;
  width: 30%;
}

form textarea {
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  padding: 10px;
  width: 50%;
}

form input[type="submit"] {
  background-color: #0077cc;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 10px;
  text-transform: uppercase;
}

form input[type="submit"]:hover {
  background-color: #005599;
}

/* CSS code for styling the footer section with icon image */
footer {
  color: #040404;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer p {
  margin: 0;
}

.icon-container {
  display: flex;
  align-items: center;
  word-spacing: 10px;
}

.icon-container img {
  width: 30px;
  height: 30px;
  margin-left:10px;
}

  @media (max-width: 767px) {
    body {
      font-size: 16px;
    }
  
    header.masthead {
      padding: 50px 0;
    }
  
    header p.masthead-subheading {
      font-size: 18px;
      padding-top: 120px;
      margin-bottom: 20px;
    }
  
    header a.btn {
      padding: 10px 20px;
      font-size: 16px;
    }
  
    .section-1 .section-heading {
      font-size: 24px;
    }
  
    .section-1 .section-subheading {
      margin-bottom: 20px;
    }
  
    .image-container img {
      width: 180px;
      height: 180px;
    }
  
    .image-container h3 {
      margin-top: 10px;
    }
  
    .modal-content {
      margin: 5% auto;
      padding: 10px;
      max-width: 300px;
    }
  
    .modal-content h3 {
      font-size: 20px;
    }
  
    .modal-content img {
      margin-bottom: 5px;
    }
  
   
  @media only screen and (max-width: 768px) {
    .section-4 {
      background-size: cover;
      padding-bottom: 40px;
      padding-top: 30px;
    }
  
    .row {
      display: block;
      padding-top: 0;
    }
  
    /* Set the column width to 100% */
    .column {
      width: 100%;
    }
  }
    .circular-image,
    .image {
      width: 120px;
      height: 120px;
      margin: 0 auto;
    }
  
    form input[type="text"]{
      margin-bottom: 20px;
      width: 100%;
    }

    form input[type="email"],
    form input[type="tel"],
    form textarea {
      width: 100%;
    }
  }
  
  @media (max-width: 767px) {
    #rows {
      flex-wrap: nowrap;
      flex-direction: column;
    }
  
    .image-container {
      flex-basis: 100%;
    }
  }

  @media (max-width: 767px) {
  .container {
    padding-left: 15px;
    padding-right: 15px;
  }

  .timeline li .timeline-image {
    left: 0;
    top: 50px;
    transform: translateY(-50%);
    margin-bottom: 20px;
  }

  .timeline li .timeline-panel {
    margin-left: 0;
    display: block;
  }

  .timeline li .timeline-panel .subheading {
    font-size: 18px;
  }

  .timeline li .timeline-panel p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 600px) {
  .timeline li {
  margin-left: 0 !important;
  margin-bottom: 50px;
  }
  
  .timeline li .timeline-panel {
  float: none !important;
  width: 100% !important;
  }
  .timeline li .timeline-image {
  text-align: center;
  margin-bottom: 20px;
  }
  }
  